@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    background-color:#1a1a1a;
    color: azure;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.home{
    display: block;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -99;
}

h1{
    font-size: 100px;
    text-align: center;
    
}
h2{
    
    font-size: 30px;
    text-decoration: underline;
    font-weight: lighter;
    color: white;
}

#titre a{
    text-decoration: none;
    color: azure;
    font-family: 'PT Sans', sans-serif;
}

nav ul {
    
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav ul li{
    
    padding: 10px 15px;
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
    color: azure;
    cursor: pointer;
    /* border: outset 2px; */
    /* border-bottom: 2px solid; */
}




hr{
    display: none;
}


#icons{
    text-align: center;
}


.box{
    display: none;
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    padding: 30px;
    margin: 0 auto;
    border-bottom: solid 2px;
    /* border-radius: 10px; */

    animation:fadeIn 2s;    
}



li:hover {
    background-color: #212121;
    /* color: aqua; */
    
}

/* li:active {
    color: rgb(0, 0, 0);
}

li:focus {
    color: rgb(166, 255, 0);
} */

@keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
}

.img{
    
    top: 50%;
    width: 100%;
    border-radius: 10px;
    
}


.desc{
    padding-top: 15px;
    padding-bottom: 15px;

}


.vid {
    display: block;
    margin-left: auto;
    margin-right: auto

}

hr{
color: grey;
}


a:visited {
    color: rgb(43, 80, 128);
}


.space {
    margin-bottom: 100px;
}





/* Responsive  */

@media (max-width: 800px) {

    h1{
        font-size: 60px;
    }
    nav ul {
        
        flex-direction: column;
        text-align: center;
        padding: 20px 20px;
    }

    
}

@media (max-width: 600px) {

    h1{
        font-size: 60px;
    }
    nav ul {
        
        flex-direction: column;
        text-align: center;
    }
    
    nav ul li {
        font-size: 20px;
        
    }
    /* nav ul li a{
        font-size: 20px;
         
    }*/

    hr{
        display: block;
        width: 50px;
    }

    .box{
        position: relative;
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        padding: 10px;
        margin: 0 auto;
    }

    
}
